body{
    background-color: powderblue;
}
h1{
    background-color: mediumturquoise;
    color: lightyellow;
}
#titulo{
    text-align: center;
}
.paragrafo{
    color: cadetblue
}

/*
    # para chamar ids
    . para chamar classes
*/